h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

h1 {
  font-size: 32px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
}

h4 {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

.posts {
  list-style: none;
}

.header {
  background-color: rgb(223, 223, 223);
}

aside {
  background-color: rgb(255, 255, 221);
  border-top: 4px dashed rgb(94, 66, 142);
  border-bottom: 4px dashed rgb(94, 66, 142);
}

/* li:first-child {
  font-weight: bold;
} */

/* a {
  color: #1098ad;
} */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: rgb(6, 52, 59);
  font-weight: bold;
}
